div.content h2 {
    margin: 2em 0 0 1.3em;
}
div.post h2 {
    margin: 2em 0 0 0;
}
.small {
    color: #777;
}
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
line-height: 1.75em;
}

ul.posts span {
color: #aaa;
font-family: Monaco, "Courier New", monospace;
font-size: 80%;
}

pre {
background-color: #EEF;
border: 1px solid #DDD;
padding: 0.4em;
margin: 20px 0;
width: 550px;
overflow-x: hidden;
-webkit-transition: all 1s ease;
transition: all 1s ease;
font: 13px Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
}

code {
border: none;
border: 1px solid #DDD;
background-color: #EEF;
font-size: 95%;
padding: 0 0.2em;
display: block;
font: 13px Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;

}

pre:hover {
    width:820px;
    white-space:none !important;
    word-wrap:none !important;
    overflow: auto;
}


blockquote {
margin: 1.5em 0 1.5em 1.5em;
font-style: normal;
padding: 0px 30px;
color: black;
background: url('../images/quote.png') .5em top no-repeat;
}

p img {
float: none;
margin: 1.5em 1.5em 1.5em 0;
padding: 0;
}
.alignleft {
float: left;
}
