body {
/*	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-family: "Trebuchet MS", verdana, arial, helvetica;*/
/*     font: 90% constantia, palatino, "times new roman"; */
	font-family: 'Crimson Text', Georgia, Times, serif;
	font-size: 16px;
	line-height: 25px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Allerta', Helvetica, Arial, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.entry {
    font-size: 1.4em;
    line-height: 1.4em;
}
.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

#goodreads li { list-style: none; }

#header {
/*        background-image: url('../images/banner_wide.jpg');
        background-repeat: no-repeat;
        margin: 0px;
        height: 264px;
        padding: 0px;
        vertical-align: bottom;
        text-align: right;
/*      height: 89px;*/
}
#header h1 { margin-top: 50px; }
#header h1, #header .description {
  /*      color: #FFF;
        padding-left: 50px;
        margin: 0;
        line-height: 1em;*/
	margin-right: 100px;
/* 	font-family: "Trebuchet MS", verdana, arial, helvetica; */
	font-family: 'Allerta', Helvetica, Arial, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#nav li {
	font-family: "Trebuchet MS", verdana, arial, helvetica;
	font-size: 15px;
	line-height: 2em;
}

#searchsubmit { display: none; }
.code        { font:0.9em Monaco, monospace; }

acronym {
    border-bottom: thin dashed #000;
}


.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}

.highlight {
background: white;
display: block;
margin: 0;
padding: 0;
font-size: 100%;
text-align: left;
}
 pre {
background-color: #EEF;
border: 1px solid #DDD;
padding: 0.4em;
margin: 20px 0;
width: 550px;
overflow-x: hidden;
-webkit-transition: all 1s ease;
transition: all 1s ease;
font: 13px Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
}

code {
border: none;
border: 1px solid #DDD;
background-color: #EEF;
font-size: 95%;
padding: 0 0.2em;
display: block;
font: 13px Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;

}

pre:hover {
    width:820px;
    white-space:none !important;
    word-wrap:none !important;
    overflow: auto;
}

#sidebar a{
	font-size: 1.4em;
	font-family: 'Crimson Text', Georgia, Times, serif;
}
#sidebar h2 {
	font-size: 1.5em;
	font-family: 'Allerta', Helvetica, Arial, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.small {
	font-size: 1.3em;
}
/*********** POST SPECIFIC CSS *************/
img[alt="Picture of an old rotary telephone dial"] { margin: 10px; border: 1px solid #000; float: right; }
img[alt="Picture of old mailboxes"] { border: 1px solid #000; }
img[alt="Hyborian War logo"] { margin: 10px; border: 1px solid #000; float:left; }
div#CAD {
	float: right;
	border: 1px solid #000;
	margin: 10px;
}

div#CAD pre {
background-color: #EEE;
border: none;
padding: 1.5em;
margin: auto;
width: auto;
overflow-x: auto;
-webkit-transition: none;
transition: none;	
}