---
layout: default
---
    <div class="post">
                <h2><a href="{{site.base_url}}{{ page.url }}" rel="bookmark" title="Permanent Link to {{ page.title }}">
                    {{ page.title }}
                    </a></h2>
                <p class="small">
                         {{ page.date | date: '%d %B %Y' }}
                </p>

                <div class="entry">
                    {{ content }}
                </div>

        </div> <!-- /post -->
<h2>Recent Posts</h2>
<ul class="posts">
    {% for post in site.posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
      <li><a href="{{site.base_url}}/" title="Binary Elysium - Blog">Older posts</a></li>
  </ul>

